.navigation {
    background-color: #550;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navigation a {
    float: left;
    color: white;
    text-align: center;
    padding: 5px 10px;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.navigation a.active {
    background-color: #600;
    color: white;
}

.header {
  background-color: #950;
  font-size: 50px;
  font-weight: bold;
  color: #f1f1f1;
  padding-left: 10px;
}

.contentbox{
  background-color: #300;
}

table, th, td {
    border: 1px solid black;
    background-color:LightBlue;
    color: black;
    text-align: left;
    padding: 5px 10px;
    font-size: 17px;
}
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
